<%- include('../layout_header.ejs') -%>


<div class="row">

    <div class="col-sm-3">


    </div>
    <div class="col-sm-9">
        <h2> Country name : <%= displayCountry.name %></h2>
        <p class="lead">
            Description : <%= displayCountry.description %>  
        </p>
    </div>
</div>

<%- include('../layout_footer.ejs') -%>