<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Here are the valid routes</h1>
    <h2 style="color:purple">(in purple : routes that are hidden by the navigation).</h2>
    <h2>/help => get help</h2>
    <h2>/countries => get the countries</h2>
    <h2 style="color:purple">/countries/:id => get a country</h2>
    <h2 style="color:purple">/countries/new => edit a new country</h2>
    <h2 style="color:purple">/countries/edit/:id => modify a country</h2>
</body>

</html>