<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World tour</title>
     <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"> 
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/css/myStyles.css" type="text/css" rel="stylesheet"> 
</head>

